<div class="modal-wrapper">
    <div (click)="closeModal()" class="modal-wrapper-background"></div>
    <div class="modal">
        <div class="modal-header">
            <span class="modal-title">
                <i *ngIf="Icon" [class]="Icon"></i>
                {{Title}}
            </span>

            <div class="modal-window-controls">
                <button (click)="closeModal()" class="modal-close-button"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="modal-body">
            <span>Name</span>
            <input type="text" class="os-input">
            <span>Url</span>
            <input type="text" class="os-input">
            <span>Icon</span>
            <input type="text" class="os-input">
        </div>

        <div class="modal-footer">
            <button class="os-button">Save</button>
        </div>
    </div>
</div>