<div class="modal-wrapper">
    <div class="modal">
        <div class="modal-header">
            <span class="modal-title"> <i class="fa-regular fa-bookmark"></i> New Bookmark</span>

            <div class="modal-window-controls">
                <button class="modal-close-button"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="modal-body">
            <span>Name</span>
            <input type="text" class="os-input">
            <span>Url</span>
            <input type="text" class="os-input">
            <span>Icon</span>
            <input type="text" class="os-input">
        </div>        

        <div class="modal-footer">
            <button class="os-button blue">Save</button>
        </div>
    </div>
</div>