@import '../../../../colors.scss';
@import '../../../../variables.scss';

$spacing: 0.45em;

.modal-wrapper {
    z-index: 1000;

    .modal-wrapper-background {
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;

        z-index: 1001;
    }

    background-color: transparentize($color: $black, $amount: 0.5);
    backdrop-filter: blur(3px);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.7rem;

    .modal {
        z-index: 1002;
        background: $background-texture;
        background-size: $background-size;
        box-shadow: 0 0 2em transparentize($color: $accent-color, $amount: 0.8);
        border: $default-border-size solid $accent-color;
        border-radius: 5px;
        padding: $spacing;

        min-width: 20em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-content: flex-start;

            margin-bottom: $spacing;
            padding-bottom: $spacing;
            border-bottom: $default-border-size solid $accent-color;

            .modal-title {
                display: inline-flex;
                gap: $spacing;
            }


            .modal-window-controls {

                button {
                    transition: $default-transition;
                    font-size: 1em;
                    border: none;

                    width: 1.25em;
                    height: 1.25em;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .modal-close-button {
                    background: $accent-color;
                }
            }
        }

        .modal-body {
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            row-gap: $spacing;
            margin-bottom: 0.9em;
            padding: 0 $spacing;

            input {
                width: 100%;
            }
        }

        .modal-footer {

            background-color: transparentize($color: $background-color, $amount: 0.5);
            border-radius: $default-border-radius;
            padding: 0.9em;

            display: flex;
            place-content: end center;
            column-gap: $spacing;

            button {}
        }
    }
}