@import '../../../../colors.scss';
@import "../../../../variables.scss";

a {
    font-family: MetalLord;
    background-color: transparentize($color: $black, $amount: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.35rem;
    color: $primary-color;

    text-decoration: none;

    border: $default-border-size solid;
    height: 4.75rem;
    min-height: 10vh;

    transition: $default-transition;

    &:hover {
        transform: scale(1.035);
        box-shadow: 0 0 0.5em;
        text-shadow: 0 0 0.5em;
    }
}