@import '../../../../colors.scss';
@import "../../../../variables.scss";



#currencies-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        font-weight: 600;
        color: $primary-color;
        border-bottom: $default-border-size solid $accent-color;
        padding-bottom: 0.25rem;
        width: 16.5rem;
    }

    #currency-items-container {
        margin-top: 0.25rem;
        display: flex;
        justify-content: center;
        gap: 0.45rem;
    }
}