@import '../../../../colors.scss';
@import '../../../../variables.scss';

.footer-bookmark-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.2em;

    font-size: 1rem;

    a {
        outline: 0.075em solid $primary-color;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.75em;
        width: 1.75em;
        text-decoration: none;
        color: $primary-color;

        transition: $default-transition;

        &:hover {
            transform: scale(1.025);
            box-shadow: 0 0 0.25em $primary-color;
        }
    }

    span {
        font-size: 0.45em;
        font-weight: 100;
    }
}