@import '../../../../colors.scss';

.footer-bookmark-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;

    a {
        outline: 1px solid $primary-color;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.75rem;
        width: 1.75rem;
        text-decoration: none;
        color: $primary-color;

        transition: 250ms;

        &:hover {
            transform: scale(1.025);
            box-shadow: 0 0 0.25rem $primary-color;
        }
    }

    span {
        font-size: 0.55rem;
        font-weight: lighter;
    }
}