@import '../../../../colors.scss';
@import "../../../../variables.scss";

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparentize($color: $black, $amount: 0.5);
    border: $default-border-size solid $primary-color;
    
    height: 1.25rem;
    width: 1.25rem;

    transition: $default-transition;

    &:hover {
        transform: scale(1.035);
        box-shadow: 0 0 0.5em;
        text-shadow: 0 0 0.5em;
    }
}