@import 'colors.scss';
@import 'variables.scss';

@font-face {
    font-family: MetalLord;
    src: url('assets/fonts/MetalLord.ttf');
}

@font-face {
    font-family: Bahnschrift;
    src: url('assets/fonts/Bahnschrift.ttf');
}

html {
    background: $background-texture;
    background-size: $background-size;
    background-color: $background-color;
    color: $primary-color;
    accent-color: $accent-color;
    outline-color: $accent-color;
    scrollbar-color: $accent-color;
    caret-color: $accent-color;
    color-scheme: dark;
    font-size: 1.5vw;
    font-family: Bahnschrift;
    user-select: none;
}

input.os-input {
    background: transparent;
    outline: $default-border-size solid $primary-color;
    border: none;
    border-radius: $default-input-border-radius;

    font-size: 0.85em;
    padding: 0.55em;

    box-sizing: border-box;

    transition: $default-transition;

    &:hover,
    &:focus {
        transform: scale(1.01);
        box-shadow: 0 0 0.55em;
    }
}

button.os-button {
    background: transparent;
    outline: $default-border-size solid;
    border: none;
    border-radius: $default-input-border-radius;

    font-size: 0.85em;
    font-weight: bold;
    padding: 0.45em 1.35em;

    box-sizing: border-box;

    transition: $default-transition;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 0.55em;
    }
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}

.purple {
    color: $purple;
}

.indigo {
    color: $indigo;
}