$default-input-border-radius: 0.25em;
$default-border-radius: 0.1rem;
$default-border-size: 0.075rem;
$default-transition: 250ms;


$background-texture: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQYV2NkYGD4Ly4uzvDy5UsGEM0oLi7+H8YB0YwEVQAAytwWi3WV4jEAAAAASUVORK5CYII=") repeat;
$background-size: 10px;