@import '../../../../colors.scss';
@import '../../../../variables.scss';

$padding: 0.275rem;

form {
    input {
        border: $default-border-size solid;
        // border-right: none;
        border-radius: 0;
        padding: $padding;
        width: 20rem;
        &:hover {
            margin-right: 0.35rem;

            // margin-right: calc($default-border-size * 1.030);
            transform: scale(1.030);
        }
    }

    button {
        margin-left: -$default-border-size;
        border: $default-border-size solid;
        border-radius: 0;
        padding: $padding;

        &:hover {
            margin-left: calc(100% / 1.030);
            transform: scale(1.030);
        }
    }
}